{% extends "site/base.html" %}
{% block content %}
   <script type="text/javascript">
       var categoryId = {{ category.id }};
   </script>
   <div id="body-content" class="container">
            <style>
                .col-centered{
                    float: none;
                    margin: 0 auto;
                }
                /*.image-wrapper {
                    position: relative;
                }*/
                .description {
                    position: absolute;
                    bottom: 10px;
                    z-index: 1;
                    height:50px;

                    /* styling for overlay below */
                    background-color: black;
                    font-family: helvetica;
                    font-size: 15px;
                    color: white;
                    opacity: .6;
                    filter: alpha(opacity=60);
                }
                p.description-content {
                    padding:10px;
                    position:absolute;
                    z-index: 10;
                    bottom: 5px;
                }
                .description-container {
                    position: relative;
                    height:10px;

                }
                a.overlay-link {
                    color:white;
                    width:100%;
                }
            </style>
            <script>

                $(function() {
                    setTimeout(function(){
                        $('.description').each( function() {
                        var newWidth = $(this).parent().parent().each(function() {

                            var width = $('img', this).width();
                            $('.description',this).css('width', width);
                            $('overlay-link',this).css('width',width);
                            $('.image-wrapper',this).css('width',width)
                            $('.description-container',this).css('width', width);
                        });
                    });
                    }, 400);
                });
            </script>
            <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <button id="im_available" type="button" class="btn btn-primary btn-lg btn-block">I'm Available! <span class="glyphicon glyphicon-dashboard"></span></button>
            </nav>
            <h3 class="text-center">Find a Local</h3>
            <div class="row">
		  {% for person in people %}
                <div class="col-xs-12 col-md-4 col-sm-4">
                    <a href="{% url "profile" person.id %}" class="overlay-link">
                        <img src="{{ person.image_url }}" class="img-responsive img-rounded col-centered" alt="Responsive image">
                        <div class="description-container col-centered">
                            <p class="description-content">{{ person }}<span class="pull-right glyphicon glyphicon-chevron-right"></span></p>
                            <div class="description img-rounded"></div>
                        </div>
                     </a>
                </div>

		{% empty %}

		No users found :(

		{% endfor %}
            </div>
        </div>
{% endblock %}
