{% extends 'site/base.html' %}
{% block content %}
   <script type="text/javascript">
       var localId = {{ user.id }};
   </script>
   <style>
      .row {
      padding:10px;
      }
      .center-cropped {
      width: 75px;
      height: 75px;
      background-position: center center;
      background-repeat: no-repeat;
      }
      .center-cropped-large {
      width: 185px;
      height: 185px;
      background-position: center center;
      background-repeat: no-repeat;
      }
   </style>
   <div class="row">
      <div class="col-xs-7">
         <img src="{{ user.image_url}}" class="img-responsive img-circle center-cropped-large" alt="Responsive image">
      </div>
      <div class="col-xs-5">
         <div class="col-xs-12">
            <strong>Name</strong>:<br>
            {{ user.first_name }} {{user.last_name}}
         </div>
         <br>
         <div class="col-xs-12">
            <strong>Rating</strong>:
            <span class="label label-{% if user.rating > 75 %}success{% elif user.rating > 55 and user.rating <= 75%}warning{% else %}danger{% endif %}"> {{ user.rating }}</span>
         </div>
         <br>
         <div class="col-xs-12">
            <strong>Tag Line</strong>:<br>
            {{ user.tagline }}
         </div>
      </div>

   </div>
   <div class="row text-center">

      <div class="btn-group btn-group-sm">
	{% for time in available_times %}
	  {% if forloop.first %}
         <button type="button" class="btn btn-default active time-range">{{ time }}</button>
	  {% else %}
	 <button type="button" class="btn btn-default time-range">{{ time }}</button>
	  {% endif %}
	{% endfor %}
      </div>
   </div>
   <div class="row text-center">

      <form method="POST" action="{% url "make_request" %}"> {% csrf_token %}
	<input type="hidden" id="time-range-input" name="time_range" value="{{ available_times.0 }}">
	<input type="hidden" name="account_id" value="{{ user.id }}">
        <button id="request" type="submit" class="btn btn-lg btn-info" >Let's have an Adventure!</button>
      </form>

   </div>
   <div class="panel panel-default list-group">
      <div class="panel-heading">
         <h3 class="panel-title">
         Reviews
         </h3>
      </div>
      <div class="panel-body">
         {% for review in reviews %}
            <div class="row list-group">
               <div class="media">
                  <a class="pull-left" href="#">
                  <img src="{{ review.author.image_url }}" class="img-responsive img-circle center-cropped" alt="Responsive image">
                  </a>
                  <div class="media-body">
                     <h4 class="media-heading">{{ review.headline }}</h4>
                     {{ review.comment }}
                  </div>
               </div>
            </div>
         {% endfor %}
      </div>
{% endblock %}
