#spinner {
    width: 26px;
    height: 26px;
    background: url(../images/spinner.png) no-repeat;
    background-clip: content-box;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.fb-login {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0px;
}

.fb-login img {
    width: 100%;
    margin: 0;
    padding: 0;
}
